@import '../variables';

@mixin font-common($size: false, $color: false, $weight: false, $lh: 1.86) {
	font-family: var(--font-family-primary);

	@if $size { font-size: $size; }

	@if $color {
		color: $color;
	}

	@if $weight { font-weight: $weight; }

	line-height: $lh;
}

@mixin font-label($size: 1.6rem, $color: false, $weight: 700, $lh: 1.3) {
	font-family: var(--font-family-secondary);
	font-size: $size;

	@if $color { color: $color; }

	@if $weight { font-weight: $weight; }

	line-height: $lh;
}
