<template>
    <div class="error-page">
        <div class="error-page__code">
            4
            <span>
                <i class='fas fa-ghost'></i>
            </span>
            4
        </div>

        <div class="error-page__title">
            Error 404: Page not found
        </div>

        <p class="error-page__description">
            Sorry, the page you're looking for cannot be accessed
        </p>
    </div>
</template>

<script setup lang="ts">
const a= '';
</script>

<style scoped lang="scss">
    @import '../assets/styles/abstracts/_index.scss';
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

    .error-page {
        height: 100vh;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        font-family: 'Montserrat', sans-serif;

        background-color: var(--c-green);

        &__code {
            font-size: 12.5rem;
            letter-spacing: .1em;
            text-shadow: .05em .05em 0 var(--c-black-transparent-020);
            color: var(--c-white);

            white-space: nowrap;

            & > span {
                display: inline-block;

                animation: spooky 2s alternate infinite linear;
            }

            @include screen-till(tablet) {
                font-size: 5.5rem;
            }
        }

        &__title {
            margin-bottom: .4em;
            margin-top: 3rem;

            font-size: 2.5rem;
            color: var(--c-white);

            @include screen-till(tablet) {
                font-size: 1.8rem;
            }
        }

        &__description {
            margin-top: 0;

            color: var(--c-white-transparent-070);
        }

        @keyframes spooky {
            from {
                transform: translatey(.15em) scaley(.95);
            }

            to {
                transform: translatey(-.15em);
            }
        }
    }
</style>
