<template>
    <div class="main">
        <Header />

        <Button
            v-if="cpss.value.length !== 0"
            text="Добавить КФС"
            class="main__button _green"
            @click-button="openDialog()"
        />

        <div class="main__cps-list">
            <CpsCard
                v-if="cpss.value.length !== 0"
                v-for="(cps, index) in cpss.value"
                :key="'cps' + index"
                :cps="cps"
            />
        </div>

        <div
            v-if="cpss.value.length === 0"
            class="main__no-kfs"
        >
            <img src="/src/assets/images/factory.png" />
        </div>

        <Button
            v-if="cpss.value.length === 0"
            text="Добавить КФС"
            class="main__button _green "
        />

        <CpsEditModal
            v-model="shouldShowDialog"
            :title="dialogTitle"
            @submit="onSubmit"
            @cancel="onCancel"
            @close="onCancel"
        />
    </div>
</template>

<script setup lang="ts">
import Header from "@/components/Header.vue";
import Button from "@/components/Button.vue";
import {onMounted, provide, ref} from "vue";
import {useCpsStore} from "@/store/use-cps-store";
import CpsCard from "@/components/CpsCard.vue";
import CpsEditModal from "@/components/CpsEditModal.vue";

const { getCpss, cpss, createCps } = useCpsStore();
const dialogTitle = ref<string>('');
const shouldShowDialog = ref<boolean>(false);
const cpsData = ref({
  name: '',
  description: ''
});

const deviceData = ref({
  id: 0,
  name: '',
  ipAddress: '',
  macAddress: '',
  networkInterface: '',
  cpsId: ''
});

provide('cpsData', cpsData);
provide('deviceData', deviceData);

const openDialog = () => {
  dialogTitle.value = 'Добавить КФС';
  shouldShowDialog.value = true;
};

const onSubmit = async () => {
  await createCps(cpsData.value);
  await getCpss();
  console.log('cpsData')
};

const test = () => {
  console.log('hello')
}
const onCancel = () => {};
onMounted(async () => await getCpss())
</script>

<style scoped lang="scss">
@import '../assets/styles/index';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__no-kfs {
    img {
      max-width: 70rem;
      margin-top: 5rem;

      @include screen-till(mobile) {
        max-width: 30rem;
      }

      @include screen-mobile() {
        max-width: 40rem;
      }
    }
  }

  &__cps-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 2rem;
  }

  &__button {
    margin-top: 3rem;
    font-size: 1.8rem;

    @include screen-till(mobile) {
      margin-top: 1rem;
      font-size: 1.4rem;
    }

    @include screen-mobile() {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
  }
}
</style>
