<template>
    <div class="auth-form">
        <ButtonsMenu />

        <div
            v-if="isEntry"
            class="auth-form__content"
        >
            <Input
                name="login"
                 v-model="authForm.email"
                 :has-error="authValidator.email.$error"
                 :error-message="loginErrorMessage"
                 placeholder="Логин"
                 @blur="authValidator.email.$touch()"
            />

            <Input
                name="password"
                v-model="authForm.password"
                :error-message="passwordErrorMessage"
                :has-error="authValidator.password.$error"
                placeholder="Пароль"
                type="password"
                @blur="authValidator.password.$touch()"
            />
            :disabled="hasAuthEmptyField"
            <Button
                text="Войти"
                class="auth-form__button _green _small"
                @click-button="login(authForm)"
            />
        </div>

        <div
            v-if="!isEntry"
            class="auth-form__content"
        >
            <Input
                name="email"
                v-model="registerForm.email"
                :error-message="emailErrorMessage"
                :has-error="registerValidator.email.$error"
                placeholder="Почта"
                @blur="registerValidator.email.$touch()"
            />

            <Input
                name="password"
                v-model="registerForm.password"
                :error-message="firstPasswordErrorMessage"
                :has-error="registerValidator.password.$error"
                placeholder="Пароль"
                @blur="registerValidator.password.$touch()"
            />

            <Input
                name="repeatedPassword"
                v-model="registerForm.repeatedPassword"
                :error-message="repeatedPasswordErrorMessage"
                :has-error="registerValidator.repeatedPassword.$error"
                placeholder="Повторите пароль"
                @blur="registerValidator.repeatedPassword.$touch()"
            />

            <Button
                text="Зарегистрироваться"
                class="auth-form__button _green _small"
                @click-button="handleRegistration()"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import Button from '@/components/Button.vue';
import Input from '@/components/Input.vue';
import ButtonsMenu from '@/components/ButtonsMenu.vue';
import { useHeaderStore } from '@/store/use-auth-menu';
import useAuthFormValidation from '@/composables/use-auth-form-validation';
import { authFormRules, registerFormRules } from '@/models/form-rules';
import useRegisterFormValidation from '@/composables/use-register-validation';
import { reactive } from 'vue';
import { AuthFormData, RegisterFormData } from '@/abstracts/form-data';
import { authFormData, registerFormData } from '@/models/form-data';
import { ApiRequest } from '@/models/api-request';
import {useAuthStore} from "@/store/use-auth-store";

const authForm = reactive<AuthFormData>(authFormData);
const registerForm = reactive<RegisterFormData>(registerFormData);

const {
    loginErrorMessage,
    passwordErrorMessage,
    authValidator,
    hasAuthEmptyField
} = useAuthFormValidation(authFormRules, authForm);

const {
    registerValidator,
    emailErrorMessage,
    firstPasswordErrorMessage,
    repeatedPasswordErrorMessage,
} = useRegisterFormValidation(registerFormRules, registerForm);

const { login, register } = useAuthStore();

const api = new ApiRequest();

const { isEntry } = useHeaderStore();

const handleRegistration = async () => {
    await register({
        email: registerFormData.email,
        password: registerFormData.password,
        role: 'User'
    })
};
</script>

<style scoped lang="scss">
.auth-form {
    padding: 2.5rem 2rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: var(--c-white-transparent-016);

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__button {
        width: 25rem;

        color: var(--c-black);
    }
}
</style>
