<template>
    <div class="buttons-menu">
        <Button
            text="Вход"
            class="buttons-menu__left-button _green _small"
            :class="{
                '_active': isEntry
            }"
            @click="changeEntryStatus(true)"
        />

        <Button
            text="Регистрация"
            class="buttons-menu__right-button _green _small"
            :class="{
                '_active': !isEntry
            }"
            @click="changeEntryStatus(false)"
        />
    </div>
</template>

<script setup lang="ts">
import Button from '@/components/Button.vue';
import { useHeaderStore } from '@/store/use-auth-menu';

const { isEntry, changeEntryStatus } = useHeaderStore();
</script>

<style scoped lang="scss">
    @import '../assets/styles/abstracts/_index.scss';

    .buttons-menu {
        max-width: 40rem;
        width: 100%;

        display: flex;

        &__left-button {
            width: 20rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            color: var(--c-black);

            &:not(._active)  {
                background-color: var(--c-green-light-transparent-080);
            }
        }

        &__right-button {
            width: 20rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            color: var(--c-black);

            &:not(._active) {
                background-color: var(--c-green-light-transparent-080);
            }
        }
    }
</style>
