<template>
  <button
      class="button"
      :type="type"
      @click="emit('click-button')"
      @mouseover="emit('mouseover')"
      @mouseout="emit('mouseout')"
  >
    <div
        v-if="text"
        class="button__text"
    >
      {{ text }}
    </div>
  </button>
</template>

<script setup lang="ts">

interface Props {
  text?: string,
  type?: string,
  disabled?: boolean,
}

const props = withDefaults(defineProps<Props>(), {
  text: '',
  type: 'button',
  disabled: false,
})

const emit = defineEmits<{
  (event: 'mouseout'): void,
  (event: 'mouseover'): void,
  (event: 'click-button'): void
}>();
</script>

<style lang="scss">
@import '../assets/styles/abstracts/_index.scss';

.button {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.3rem;

  border: none;
  border-radius: .5rem;
  padding: 1.2rem 4rem;

  @include font-common(2.4rem, var(--primary-text-color), 400, 3.4rem);

  transition: all .3s ease-in-out;

  &._green {
    color: var(--c-white-transparent-080);
    background-color: var(--c-green);
  }

  &._small {
    gap: .8rem;
    padding: .8rem 2rem;

    font-size: 1.4rem;
    line-height: 1.7rem;

    svg {
      transform: scale(0.55);

      path {
        stroke-width: 2;
      }
    }
  }

  &._large {
    gap: 2rem;

    padding: 2rem 6.4rem;

    font-size: 3.2rem;
    line-height: 4rem;

    svg {
      transform: scale(1.35);

      path {
        stroke-width: 2;
      }
    }
  }

  &:hover {
    &._green {
      background-color: var(--c-green-light-transparent-050);
    }
  }

  &:active {
    &._green {
      background-color: var(--c-green-transparent-080);
    }
  }
}
</style>
