<template>
    <div class="cps-card">
        <img
            src="src/assets/images/bg-1.jpg"
            alt="cps-background"
            class="cps-card__img"
        />

        <div class="cps-card__content">
            <div class="cps-card__name">
                {{ cps.name }}
            </div>

            <div class="cps-card__description">
                {{ cps.description }}
            </div>

            <div class="cps-card__device-list">
              <el-table :data="cps.devices" style="width: 100%">
                <el-table-column type="expand">
                  <template #default="props">
                      <div class="cps-card__device">
                        <p>IP-адрес: {{ props.row.ipAddress }}</p>
                        <p>MAC-адрес: {{ props.row.macAddress }}</p>
                        <p>Cетевой интерфейс:  {{ props.row.networkInterface }}</p>
                      </div>
                  </template>
                </el-table-column>
                <el-table-column label="Устройство" prop="name" />
                <el-table-column label="Действие" show-overflow-tooltip  width="100px">
                  <template #default="scope">
                    <ElButton
                        link
                        type="primary"
                        size="large"
                        @click.prevent="editDevice(scope.$index)"
                    >
                      <ElIcon>
                        <Edit />
                      </ElIcon>
                    </ElButton>

                    <ElButton
                        link
                        type="primary"
                        size="large"
                        @click.prevent="deleteDevice(scope.$index)"
                    >
                      <ElIcon>
                        <Delete />
                      </ElIcon>
                    </ElButton>
                  </template>
                </el-table-column>
              </el-table>
            </div>
        </div>

        <ElPopover
            v-model:visible="visible"
            placement="top"
            :width="160"
            :auto-close="3000"
        >
            <div class="cps-card__popup">
                <ElButton
                    size="small"
                    text
                    @click="addDevice()"
                    class="cps-card__popup-button"
                >
                    Добавить устройство
                </ElButton>
                <ElButton
                    size="small"
                    text
                    @click="editCps(cps.id)"
                    class="cps-card__popup-button"
                >
                    Редактировать КФС
                </ElButton>
                <ElButton
                    size="small"
                    text
                    @click="deleteCps(cps.id)"
                    class="cps-card__popup-button"
                >
                    Удалить КФС
                </ElButton>

            </div>
            <template #reference>
              <el-button @click="visible = true" class="cps-card__tooltip">
                  <el-icon>
                    <MoreFilled />
                  </el-icon>
              </el-button>
            </template>
        </ElPopover>

        <CpsEditModal
            v-model="shouldShowCpsDialog"
            :title="dialogTitle"
            @submit="onSubmitCps"
            @cancel="onCancel"
            @close="onCancel"
        />

        <DeviceEditModal
            v-model="shouldShowDeviceDialog"
            :title="dialogTitle"
            @submit="onSubmitDevice"
            @cancel="onCancel"
            @close="onCancel"
        />
    </div>
</template>

<script setup lang="ts">
    import { Cps } from '@/abstracts/cps';
    import Device from "@/components/Device.vue";
    import {inject, ref} from 'vue';
    import CpsEditModal from "@/components/CpsEditModal.vue";
    import DeviceEditModal from "@/components/DeviceEditModal.vue";
    import {useCpsStore} from "@/store/use-cps-store";
    import {useDeviceStore} from "@/store/use-device-store";

    interface Props {
        cps: Cps
    }

    const props = defineProps<Props>();
    const visible = ref(false);
    const dialogTitle = ref<string>('');
    const shouldShowCpsDialog = ref<boolean>(false);
    const shouldShowDeviceDialog = ref<boolean>(false);
    const cpsData: any = inject('cpsData');
    const deviceData: any = inject('deviceData');
    const cpsStore = useCpsStore();
    const deviceStore = useDeviceStore();

    const openCpsDialog = (modalTitle: string) => {
      dialogTitle.value = modalTitle;
      shouldShowCpsDialog.value = true;
    };

    const openDeviceDialog = (modalTitle: string) => {
      dialogTitle.value = modalTitle;
      shouldShowDeviceDialog.value = true;
    };

    const onSubmitDevice = async (deviceData: any) => {
      deviceData.value.id
          ? await deviceStore.updateDevice({ cpsId : props.cps.id, ...deviceData.value})
          : await deviceStore.createDevice({ cpsId: props.cps.id, ...deviceData.value});

      await cpsStore.getCpss();
      deviceData.value = {};
    };

    const onSubmitCps = async () => {
      openCpsDialog('Редактировать КФС');


      await cpsStore.updateCps(props.cps.id, cpsData.value);
      await cpsStore.getCpss();
    };

    const onCancel = () => {
      cpsData.value = {}
    };

    const editCps = async (id: number) => {
      cpsData.value = {
        name: props.cps.name,
        description: props.cps.description
      };
      //
      openCpsDialog('Редактировать КФС');

      // console.log(id, 'id')
      // await cpsStore.updateCps(id, cpsData);
      // await cpsStore.getCpss();
    }

    const addDevice = async() => {
      deviceData.value = {};
      openDeviceDialog('Добавить устройство')
    }

    const deleteCps = async (index: number) => {
      await cpsStore.deleteCps(index);
      await cpsStore.getCpss();
    }

    const deleteDevice = async (index: number) => {
        const selectedDevice = props.cps.devices[index];

        await deviceStore.deleteDevice(selectedDevice.id);
        await cpsStore.getCpss();
    }

    const editDevice = (index: number) => {
      deviceData.value = props.cps.devices[index]

      openDeviceDialog('Редактировать Устройство');
    }
</script>

<style lang="scss">
    @import '../assets/styles/_index.scss';

    .cps-card {
        max-width: 98rem;
        width: 100%;

        display: flex;

        border-radius: 1rem;
        background: var(--c-white);

        @include screen-small-mobile() {
            max-width: 38rem;
        }

        @include screen-mobile() {
            max-width: 45rem;
        }

        @include screen-between(tablet, tablet-landscape) {
            max-width: 76rem;
        }

        box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);

        &__content {
            width: 100%;
            padding: 2rem 3rem;

            @include screen-small-mobile() {
                padding: .8rem 1rem;
            }

            @include screen-mobile() {
                padding: 1rem 1.5rem;
            }

            @include screen-between(tablet, tablet-landscape) {
                padding: 1.5rem 2rem;
            }
        }

        &__name {
            @include font-common(2.4rem, var(--c-green), 600, 1.2);

            @include screen-small-mobile() {
                font-size: 1.4rem;
            }

            @include screen-mobile() {
                font-size: 1.6rem;
            }

            @include screen-between(tablet, tablet-landscape) {
                font-size: 2rem;
            }
        }

        &__device-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__description {
            max-width: 72rem;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 2rem;

            @include font-common(1.8rem, var(--c-black), 400, 1);

            @include screen-small-mobile() {
                font-size: 1.4rem;
            }

            @include screen-mobile() {
                font-size: 1.4rem;
            }

            @include screen-between(tablet, tablet-landscape) {
                margin-top: .8rem;
                margin-bottom: 1.5rem;

                font-size: 1.4rem;
            }
        }

        &__img {
            max-width: 10rem;
            width: 100%;

            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;

            @include screen-small-mobile() {
                max-width: 3rem;
            }

            @include screen-mobile() {
                max-width: 5rem;
            }

            @include screen-between(tablet, tablet-landscape) {
                max-width: 8rem;
            }
        }

        &__popup-button {
            width: 100%;
            margin-left: 0 !important;
        }

        &__tooltip {
            border: none;
            margin-right: 8px;
            margin-top: 8px;
        }

        &__device {
          padding-left: 6rem;
        }
    }

    svg path {
      fill: var(--c-gray-blue);
    }
</style>