<template>
  <ElDialog
      v-model="isShown"
      class="order-edit-modal"
      :title="title"
      width="50%"
      @close="$emit('update:modelValue', false)"
  >
    <CpsEditForm
        class="order-edit-modal__form"
        :key="Date.now()"
        @submit="onSubmit"
        @cancel="$emit('cancel')"
    />
  </ElDialog>
</template>

<script setup lang="ts">
import CpsEditForm from "@/components/CpsEditForm.vue";
import {computed} from "vue";

interface Props {
  title: string,
  modelValue: boolean,
}

const props =defineProps<Props>();
const isShown = computed(() => props.modelValue)

const emit = defineEmits<{
  (event: 'submit', cpsData: any): void,
  (event: 'cancel'): void,
  (event: 'update:modelValue', value: boolean): void
}>();

const onSubmit = (cpsData: any) => {
  console.log('modal', cpsData)
  emit('submit', cpsData)
}
</script>