<template>
  <ElForm class="order-edit-form" @submit="onSubmit">
    <ElFormItem class="order-edit-form__item" label="Название" title="Название">
      <ElInput class="order-edit-form__input" v-model="cpsData.name" />
    </ElFormItem>

    <ElFormItem class="order-edit-form__item" label="Описание" title="Описание">
      <ElInput class="order-edit-form__input"  v-model="cpsData.description" />
    </ElFormItem>


    <div class="order-edit-form__form-actions">
      <ElButton class="order-edit-form__btn _submit" @click="$emit('cancel')">
        Отменить
      </ElButton>

      <ElButton class="order-edit-form__btn _submit" @click="onSubmit">
        Сохранить
      </ElButton>
    </div>
  </ElForm>
</template>

<script setup lang="ts">
import {inject, ref} from "vue";

const cpsData = inject('cpsData')
const d = 1;

const onSubmit = () => {
  emit('submit', cpsData);
};

const emit = defineEmits<{
  (event: "submit", cpsData: any): void,
  (event: 'cancel'): void
}>();
</script>

<style lang="scss">
.order-edit-form {
  &__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;

    .el-form-item__label {
      display: block;
    }
  }

  &__form-actions {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 32px;
  }
}
</style>
