<template>
  <ElDialog
      v-model="isShown"
      class="order-edit-modal"
      :title="title"
      width="50%"
      @close="$emit('update:modelValue', false)"
  >
    <DeviceEditForm
        class="order-edit-modal__form"
        :key="Date.now()"
        @submit="onSubmit"
        @cancel="$emit('cancel')"
    />
  </ElDialog>
</template>

<script setup lang="ts">
import {computed} from "vue";
import DeviceEditForm from "@/components/DeviceEditForm.vue";

interface Props {
  title: string,
  modelValue: boolean,
}

const props =defineProps<Props>();
const isShown = computed(() => props.modelValue)
const onSubmit = (deviceData: any) => {
  emit('submit', deviceData);
};
const emit = defineEmits<{
  (event: 'submit', deviceData: any): void,
  (event: 'cancel'): void,
  (event: 'update:modelValue', value: boolean): void
}>();
</script>