<template>
  <ElForm class="order-edit-form" @submit="onSubmit">
    <ElFormItem class="order-edit-form__item" label="Название" title="Название">
      <ElInput class="order-edit-form__input" v-model="deviceData.name" />
    </ElFormItem>

    <ElFormItem class="order-edit-form__item" label="IP-адрес" title="IP-адрес">
      <ElInput class="order-edit-form__input" v-model="deviceData.ipAddress" />
    </ElFormItem>

    <ElFormItem class="order-edit-form__item" label="MAC-адрес" title="MAC-адрес">
      <ElInput class="order-edit-form__input" v-model="deviceData.macAddress" />
    </ElFormItem>

    <ElFormItem class="order-edit-form__item" label="Cетевой интерфейс" title="Cетевой интерфейс">
      <ElInput class="order-edit-form__input" v-model="deviceData.networkInterface" />
    </ElFormItem>

    <div class="order-edit-form__form-actions">
      <ElButton class="order-edit-form__btn _submit" @click="$emit('cancel')">
        Отменить
      </ElButton>

      <ElButton class="order-edit-form__btn _submit" @click="onSubmit">
        Сохранить
      </ElButton>
    </div>
  </ElForm>
</template>

<script setup lang="ts">
import {inject} from "vue";

const deviceData: any = inject('deviceData');
const d = 1;

const onSubmit = () => {
  emit('submit', deviceData);
};

const emit = defineEmits<{
  (event: "submit", deviceData: any): void,
  (event: 'cancel'): void
}>();
</script>

<style lang="scss">
.order-edit-form {
  &__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;

    .el-form-item__label {
      display: block;
    }
  }

  &__form-actions {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 32px;
  }
}
</style>
