<template>
    <div class="object-card">
        <div
            class="object-card__label"
        >
        </div>

        <div class="object-card__content">
            <div class="object-card__title">
              {{ device.name }}
            </div>

            <div>
              IP-адрес: {{ device.ipAddress }}
            </div>

            <div>
              MAC-адрес: {{ device.macAddress }}
            </div>

            <div>
              Cетевой интерфейс: {{ device.networkInterface }}
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import {Device} from "@/abstracts/device";

interface Props {
  device: Device
}

const props = defineProps<Props>();
</script>

<style scoped lang="scss">
@import '../assets/styles/_index.scss';

.object-card {
  display: flex;

  max-width: 72rem;
  width: 100%;
  box-shadow: 0 .8rem 2.5rem 0 var(--c-black-transparent-020);

  &__title {
    margin-bottom: 1rem;

    @include font-common(1.8rem, var(--c-green), 400, 1.2);

    @include screen-small-mobile() {
      margin-bottom: .5rem;
      font-size: 1.4rem;
    }

    @include screen-mobile() {
        margin-bottom: .5rem;
        font-size: 1.6rem;
    }
  }

  &__label {
    width: 1.8rem;
    height: inherit;

    background-color: var(--c-green);
  }

  &__content {
    padding: 1.2rem 3rem;

    @include font-common(1.4rem, var(--c-black), 400, 1.2);

    @include screen-small-mobile() {
      padding: .5rem 1rem;

      font-size: 1.2rem;
    }

    @include screen-mobile() {
      padding: .5rem 1rem;
    }

    @include screen-between(tablet, tablet-landscape) {
      padding: 1rem 2rem;
    }
  }
}
</style>
