<template>
  <div
      class="header"
      :class="{
            '_dark-header': props.isDark
        }"
  >
    <Logo/>

    <div class="header__menu">
      <div
          v-for="(item, index) in headerMenuLink"
          :key="index + 'headerItems'"
          class="header__menu-item"
      >
        <router-link :to="item.link">
          {{ item.name }}
        </router-link>
      </div>
    </div>

    <div class="header__icons">
      <logout2-icon />
      <user-icon />
    </div>
  </div>
</template>

<script setup lang="ts">
import { headerMenuLink } from '@/models/header-menu-link';
import Logo from '@/components/Logo.vue';

interface Props {
  isDark?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  isDark: false
});
</script>

<style scoped lang="scss">
@import '../assets/styles/index';

.header {
  width: 100%;
  padding: 1.5rem 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--c-green);

  @include font-common(2.2rem, var(--c-white), 400);

  @include screen-till(mobile) {
    padding: 1.5rem 2rem;

    font-size: 1.4rem;
  }

  @include screen-mobile() {
    padding: 1.5rem 2rem;

    font-size: 1.6rem;
  }

  &._dark-header {
    color: var(--c-white-transparent-080);
  }

  &._dark-header & {
    &__menu-item a:hover {
      color: var(--c-green-light);
    }

    &__icons svg:hover {
      stroke: var(--c-green-light);
    }
  }

  &__menu {
    max-width: 50rem;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @include screen-till(tablet) {
      max-width: 40rem;
    }
  }

  &__menu-item a {
    color: var(--c-black-transparent-080);

    &:hover {
      color: var(--c-green-light-transparent-080);
    }
  }

  &__icons {
    max-width: 8rem;
    width: 100%;

    display: flex;
    justify-content: space-between;

    svg:hover {
      stroke: var(--c-green);
    }

    @include screen-till(mobile) {
      max-width: 4rem;

      svg {
        width: 1.7rem;
        height: 1.7rem;
      }
    }

    @include screen-mobile() {
      max-width: 6rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
</style>
