<template>
  <div
      class="input"
      :class="{
              '_error': hasError
        }"
  >
    <label
        v-if="label"
        class="input__upper-label"
        :class="{
                '_static': hasStaticLabelColor
            }"
    >
      {{ label }}
    </label>

    <div class="input__container">
      <input
          class="input__input"
          :placeholder="placeholder"
          :type="type"
          :value="inputValue"
          :disabled="disabled"
          v-model="value"
          @blur="emit('blur')"
      />
    </div>

    <label
        v-if="lowerLabel"
        class="input__lower-label"
    >
      {{ lowerLabel }}
    </label>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'

interface Props {
  type?: string,
  label?: string,
  hasError?: boolean,
  disabled?: boolean,
  required?: boolean,
  modelValue?: string,
  placeholder?: string,
  errorMessage?: string,
  optionalText?: string,
  hasStaticLabelColor?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  type: 'text',
  label: '',
  hasError: false,
  disabled: false,
  required: true,
  modelValue: '',
  errorMessage: '',
  optionalText: 'Необязательное поле',
  hasStaticLabelColor: false
});

const inputValue = ref<string>(props.modelValue);

const lowerLabel = computed(() => {
  if (props.hasError) {
    return props.errorMessage;
  }

  if (!props.required) {
    return props.optionalText;
  }
});

const value = computed({
  get: () => inputValue.value,
  set: (value) => {
    inputValue.value = value;
    emit('update:modelValue', value);
  }
});

const emit = defineEmits<{
  (event: 'blur'): void,
  (event: 'update:modelValue', value: string): void
}>();
</script>

<style lang="scss">
@import '../assets/styles/abstracts/_index.scss';

.input {
  max-width: 40rem;

  &._error & {
    &__upper-label {
      &:not(._static) {
        color: var(--c-red);
      }
    }

    &__lower-label {
      color: var(--c-red);
    }

    &__input {
      border-color: var(--c-red-transparent-032);
    }
  }

  &__search-icon {
    position: relative;
    top: 1.1rem;
    left: 2.8rem;
  }

  &__upper-label,
  &__lower-label {
    @include font-common(1.2rem, var(--secondary-text-color), 400, 1.2rem);

    transition: color .3s ease-in-out;
  }

  &__close-icon {
    position: relative;
    top: 1.3rem;
    right: 2.8rem;

    path {
      stroke: var(--c-white);
      transform: scale(0.7);
    }
  }

  &__input {
    width: 40rem;
    height: 3.5rem;
    padding: .8rem 3.8rem .8rem 1.6rem;
    margin: .2rem 0;
    border: .1rem solid var(--c-white-transparent-024);
    border-radius: .4rem;

    @include font-common(1.4rem, var(--c-white), 300, 1.4);

    background: var(--c-white-transparent-016);

    transition: border-color .3s ease-in-out;

    @include screen-small-mobile() {
      width: 30rem;
      height: 3rem;

      font-size: 1.2rem;
    }

    &:hover {
      border-color: var(--c-dark-green);
    }

    &:focus {
      border-color: var(--c-green);
    }

    &::placeholder {
      color: var(--c-white-transparent-040);
    }

    &._with-icon {
      padding: .8rem 3.8rem;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}
</style>