<template>
    <div
        class="logo"
        :class="{
            '_footer': props.isFooter
        }"
    >
    </div>
</template>

<script setup lang="ts">
    interface Props {
        isFooter?: boolean
    }

    const props = withDefaults(defineProps<Props>(), {
        isFooter: false
    });
</script>

<style scoped lang="scss">
    @import '../assets/styles/_index.scss';

    .logo {
        width: 15rem;
        height: 7rem;

        @include screen-till(mobile) {
            display: none;
        }

        @include screen-mobile {
            width: 8rem;
            height: 5rem;
        }

        &._footer {
            width: 20rem;
            height: 9rem;

            @include screen-till(mobile) {
                width: 70%;

                display: block;
            }
        }
    }
</style>
