html {
      font-size: 62.5%;
}

body {
    background-color: #ececec;;
    scroll-behavior: smooth;

    a {
        text-decoration: none;
    }
}

* {
    box-sizing: border-box;
}

a:focus {
    outline: none;
}