$breakpoints: (
    mobile-start: 1px,
    medium-mobile: 370px,
    mobile: 451px,
    tablet: 768px,
    tablet-landscape: 992px,
    desktop: 1025px,
    small-desktop: 1200px,
    medium-desktop: 1400px,
    large-desktop: 1921px
);

@function breakpoint($type) {
    @if not map-has-key($breakpoints, $type) {
        @return $type;
    }
    @return map-get($breakpoints, $type);
}

$screen: 'only screen';
$mobile-or-tablet: 'orientation: portrait';
